@import './pico.min.css';

body > main {
  padding: 0;
}

.box {
  box-shadow: var(--card-box-shadow);
  padding: var(--spacing);
  background: var(--card-background-color);
}

[aria-busy='true'] {
  text-align: center;
}

/*[aria-busy='true'] > * {
  display: none;
}*/

[aria-invalid='true'] {
  border: var(--border-width) solid var(--form-element-invalid-border-color);
  box-shadow: none;
  color: var(--del-color);
  text-align: center;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  /*--invalid-color: #c62828;
  --valid-color: #388e3c;
  --nav-background-color: rgba(255, 255, 255, 0.7);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #fff;*/
  --article-code-background-color: #f9fafb;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    /*--invalid-color: rgba(183, 28, 28, 0.5);
    --valid-color: rgba(46, 125, 50, 0.5);
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);
    --nav-logo-color: #0e1419;*/
    --article-code-background-color: var(--code-background-color);
  }
}
[data-theme=dark] {
  /*--invalid-color: rgba(183, 28, 28, 0.5);
  --valid-color: rgba(46, 125, 50, 0.5);
  --nav-background-color: rgba(16, 24, 30, 0.8);
  --nav-border-color: rgba(115, 130, 140, 0.2);
  --nav-logo-color: #0e1419;*/
  --article-code-background-color: var(--code-background-color);
}
