@import './pico.min.css';

body > main {
  padding: 0;
}

.box {
  box-shadow: var(--card-box-shadow);
  padding: var(--spacing);
}

.box[aria-busy=true] {
  text-align: center;
}

.box[aria-busy=true] > * {
  display: none;
}

.box[aria-invalid=true] {
  border: var(--border-width) solid var(--form-element-invalid-border-color);
  box-shadow: none;
  color: var(--del-color);
  text-align: center;
}
